<template name="createclub">
    <div class="club" style="border: white solid 5px; padding: 10% 5% 10% 5%">
        <div id="createclubTitle">
            <h1 style="color: white; text-align: center; margin-bottom: 50px; font-size: 5em">Create a Club</h1>
        </div>
        <form class="form" id="createclubForm">
            <div class="form-group alert alert-danger" id="createclubAlerts" style="display: none"><Strong>{{err}}</Strong></div>
            <div class="form-group">
                <label for="clubName"><strong>Club Name:</strong></label>
                <input type="text" class="form-control" id="clubName" placeholder="Enter Club Name..." maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="description"><strong>Club Description:</strong></label>
                <textarea rows="3" class="form-control" id="description" placeholder="Enter Club Description..." maxlength="300" required></textarea>
            </div>
            <div class="form-inline">
                <label for="keywords"><strong>Enter Keywords: </strong><i>(At least one keyword required)</i></label><br>
                <div class="form-group">
                    <div class="input-group">
                        <input id="keywords" type="text" class="form-control" placeholder="Required" maxlength="50">
                        <input id="keywords" type="text" class="form-control" placeholder="Optional" maxlength="50">
                        <input id="keywords" type="text" class="form-control" placeholder="Optional" maxlength="50">
                        <input id="keywords" type="text" class="form-control" placeholder="Optional" maxlength="50">
                        <input id="keywords" type="text" class="form-control" placeholder="Optional" maxlength="50">
                        <input id="keywords" type="text" class="form-control" placeholder="Optional" maxlength="50">
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <label for="contact"><strong>Contact: </strong></label><br>
                <div class="form-group">
                    <div class="input-group">
                        <input id="contactName" type="text" class="form-control" placeholder="Admin Name" maxlength="50" required>
                        <input id="contactEmail" type="email" class="form-control contactEmail" placeholder="Admin Email" maxlength="50" required>
                        <input id="contactPhone" type="text" class="form-control contactPhone" placeholder="Admin Phone" required>
                    </div>
                </div>
            </div>
            <button class="btn btn-info btn-block" type="submit"><strong>Create</strong></button>
        </form>
    </div>
</template>
