.club
{
    border: white solid 5px;
    padding: 10% 5% 10% 5%;
}
.club h1
{
    font-size: 5em;
}
#adminForm label
{
    color: white;
}
#keywords, #contact
{
    width: 250px;
    margin-right: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .club h1 {
        font-size: 3em;
    }
    #keywords, #contact {
        width: 100%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    #adminTitle {
        margin-top: -80px;
    }
    #adminForm {
        margin-bottom: -60px;
    }
}

