#createclubForm label
{
    color: white;
}
#keywords, #contactName, #contactPhone, #contactEmail
{
    width: 250px;
    margin-right: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .club h1 {
        font-size: 3em;
    }
    #keywords, #contactName, #contactPhone, #contactEmail {
        width: 100%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    #createclubTitle, #updateclubTitle {
        margin-top: -80px;
    }
    #createclubForm {
        margin-bottom: -60px;
    }
}

/* specific to update club */

.updateClub ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
    font-weight: bold;
}
.updateClub :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
    font-weight: bold;
    opacity:  1;
}
.updateClub ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    font-weight: bold;
    opacity:  1;
}
.updateClub :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    black;
    font-weight: bold;
}