<template name="calendar">
    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <div class="heading panel panel-default">
            <div class="panel-heading" style="background: #d1e4ee">
                <h4 class="panel-title" style="background: #d1e4ee"><strong>Upcoming Event:</strong></h4>
                <hr style="background-color: black; border-color: black">
                <div class="panel-body" style="background: #d1e4ee; overflow-y: hidden">
                    <p>Event title</p>
                    <p>Event location and date</p>
                </div>
            </div>
        </div>
        <div style="text-align: center; color: white" id="monthNav">
            <h1>
                <button type="button" class="btn btn-default" id="left">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </button>
                <span>{{month}}</span>
                <button type="button" class="btn btn-default" id="right">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </button>
            </h1>
        </div>
        <table id="table" class="table" style="table-layout: fixed">
            <tr>
                <th scope="col">Su</th>
                <th scope="col">Mo</th>
                <th scope="col">Tu</th>
                <th scope="col">We</th>
                <th scope="col">Th</th>
                <th scope="col">Fr</th>
                <th scope="col">Sa</th>
            </tr>
            {{#each loop 6}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {{/each}}
        </table>
    </div>
</template>