h4
{
    text-align: left;
    vertical-align: text-top;
}
.heading p
{
    text-align: center;
}
#monthNav
{
    margin-top: 5em;
}
table
{
    background-color: #f3f4f5;
    border: solid black 3px;
}
table tr:first-child
{
    vertical-align: bottom;
}
table tr:not(:first-child)
{
    text-align: right;
    vertical-align: text-top;
}
table td, tr
{
    height: 55px;
    color: black;
    border: solid black 1px;
}

@media screen and (max-width: 767px) {
    table td, tr{
        height: 40px;
    }
}