<template name="home" id="home">
    {{#if loggingIn}}
    {{else}}
        {{#if currentUser}}
            <div class="heading">
                <h1><strong>Welcome, {{currentUser.profile.firstname}} {{currentUser.profile.lastname}}!</strong></h1>
                <div id="regParagraph">
                    <p>Ready to view you're upcoming <a href="calendar">events</a>?</p>
                </div>
            </div>
        {{else}}
            <div class="heading">
                <h1><strong>Welcome, to FIU Clubs</strong></h1>
                <div id="regParagraph">
                    <p>Please <a href="register">register</a> or <a href="signin">sign in</a> to have full access to website.</p>
                </div>
            </div>
        {{/if}}
    {{/if}}
    <div class="row" id="searchBar">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div style="color: white; text-align: center">
                <h2><strong>Search for Clubs:</strong></h2>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Keyword..">
                <span class="input-group-btn">
                        <button type="button" class="btn btn-info" style="color: black;"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
            <div class="form-group">
                <div>
                    <a href="" style="font-size: x-small; color: #5bc0de"><u><strong>Show all Clubs?</strong></u></a>
                </div>
            </div>
        </div>
    </div>
</template>