#heading
{
    background-color: #d1e4ee;
    padding: 20px 40px 20px 40px;
}
#regParagraph
{
    padding-top: 20px;
}
#heading p
{
    text-align: center;
}
#heading h1
{
    font-size: 3.5em;
    text-align: center;
    text-transform: capitalize;
}
#searchBar
{
    margin-top: 10em;
}

@media screen and (max-width: 767px) {
    h2{
        font-size: 1em;
    }
    #searchBar{
        margin-top: 4em;
    }
    #heading h1 {
        font-size: 1.5em;
    }
    #heading {
        padding: 5px 5px 5px 5px;
    }
}

