<template name="header">
    <nav class="nav navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" id="toggle-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-target" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a alt="Home"  style="font-size: xx-large; text-decoration: none; color: #337ab7" href="home"><strong>FIUClubs</strong></a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="nav-target">
                {{#if loggingIn}}
                {{else}}
                    {{#if currentUser}}
                        <ul class="nav navbar-nav navbar-right colapseNavBtn" id="signout">
                            <li><a href="signout" style="color: #337ab7"><strong>Sign Out?</strong></a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="colapseNavBtn"><a href="home">Home</a></li>
                            <li class="colapseNavBtn"><a href="createclub">Create a club</a></li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Update a club<span class="caret"></span></a>
                                <ul class="dropdown-menu colapseNavBtn">
                                    {{# if adminOf}}
                                        {{#each adminOf}}
                                            <li class="colapseNavBtn"><a href="updateclub?club={{this}}">{{this}}</a></li>
                                            <li class="divider"></li>
                                        {{/each}}
                                    {{else}}
                                        <p>You are not an admin of any clubs.</p>
                                    {{/if}}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Enrollled<span class="caret"></span></a>
                                <ul class="dropdown-menu colapseNavBtn">
                                    {{#if enrolled}}
                                        {{#each enrolled}}
                                            <li><a href="club?clubname={{this}}">{{this}}</a></li>
                                            <li class="divider"></li>
                                        {{/each}}
                                    {{else}}
                                        <li style="text-align: center">Currently not enrolled in any clubs.</li>
                                    {{/if}}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Messages<span class="caret"></span></a>
                                <ul class="dropdown-menu colapseNavBtn" id="messagesTab">
                                    {{#if enrolled}}
                                        {{#each enrolled}}
                                            <li><a href="messages?club={{this}}">{{this}}</a></li>
                                            <li class="divider"></li>
                                        {{/each}}
                                    {{else}}
                                        <li><a href="messages">General chat room</a></li>
                                    {{/if}}
                                </ul>
                            </li>
                        </ul>
                    {{else}}
                        <div class="colapseNavBtn">
                            <ul class="nav navbar-nav">
                                <li><a href="home">Home</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="register">Register</a></li>
                                <li><a href="signin">Sign In</a></li>
                            </ul>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </nav>
</template>
