<template name="updateclub">
    <div class="club">
        <div id="updateclubTitle">
            <h1 style="color: white; text-align: center; margin-bottom: 50px">Update Club {{Url}}</h1>
        </div>
        <form class="form" id="updateclubForm">
            <div class="form-group alert alert-danger" id="updateclubAlerts" style="display: none"><Strong>{{err}}</Strong></div>
            <div class="form-group">
                <label for="clubName"><strong>Club Name:</strong></label>
                <input type="text" class="form-control" id="clubName" placeholder="Enter Club Name..." maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="description"><strong>Club Description:</strong></label>
                <textarea rows="3" class="form-control" id="description" placeholder="Enter Club Description..." maxlength="500" required></textarea>
            </div>
            <div class="form-inline">
                <label for="keywords"><strong>Enter Keywords: </strong><i>(At least one keyword required)</i></label><br>
                <div class="form-group">
                    <div class="input-group">
                        <input id="keywords" type="text" class="form-control" placeholder="Required" maxlength="50">
                        <input id="keywords" type="text" class="form-control" placeholder="Optional" maxlength="50">
                        <input id="keywords" type="text" class="form-control" placeholder="Optional" maxlength="50">
                        <input id="keywords" type="text" class="form-control" placeholder="Optional" maxlength="50">
                        <input id="keywords" type="text" class="form-control" placeholder="Optional" maxlength="50">
                        <input id="keywords" type="text" class="form-control" placeholder="Optional" maxlength="50">
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <label for="contact"><strong>Contact: </strong><i>(Optional)</i></label><br>
                <div class="form-group">
                    <div class="input-group">
                        <input id="contact" type="text" class="form-control" placeholder="updateclub Name" maxlength="50">
                        <input id="contact" type="email" class="form-control contactEmail" placeholder="updateclub Email" maxlength="50">
                        <input id="contact" type="text" class="form-control contactPhone" placeholder="updateclub Phone">
                    </div>
                </div>
            </div>
            <button class="btn btn-info btn-block" type="submit"><strong>Create</strong></button>
        </form>
    </div>
</template>
