<template name="updateclub">
    <div class="club updateClub" style="border: white solid 5px; padding: 10% 5% 10% 5%">
        <div id="updateclubTitle">
            <h1 style="color: white; text-align: center; margin-bottom: 50px; font-size: 5em">Update {{Url}}</h1>
        </div>
        <form class="form" id="createclubForm">
            <div class="form-group alert alert-danger" id="updateclubAlerts" style="display: none"><Strong>{{err}}</Strong></div>
            <div class="form-group">
                <label for="description"><strong>Club Description:</strong></label>
                <textarea rows="3" class="form-control" id="description" placeholder="{{description}}" maxlength="300"></textarea>
            </div>
            <div class="form-inline">
                <label for="keywords"><strong>Enter Keywords: </strong><i>(At least one keyword required)</i></label><br>
                <div class="form-group">
                    <div class="input-group" id="placeholders">
                        <input id="keywords" name="key1" type="text" class="form-control" placeholder={{keyword1}} maxlength="50">
                        <input id="keywords" name="key2" type="text" class="form-control" placeholder={{keyword2}} maxlength="50">
                        <input id="keywords" name="key3" type="text" class="form-control" placeholder={{keyword3}} maxlength="50">
                        <input id="keywords" name="key4" type="text" class="form-control" placeholder={{keyword4}} maxlength="50">
                        <input id="keywords" name="key5" type="text" class="form-control" placeholder={{keyword5}} maxlength="50">
                        <input id="keywords" name="key6" type="text" class="form-control" placeholder={{keyword6}} maxlength="50">
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <label for="contact"><strong>Contact: </strong></label>
                <div class="form-group">
                    <div class="input-group">
                        <input id="contactName" type="text" class="form-control" placeholder="{{name}}" maxlength="50">
                        <input id="contactEmail" type="email" class="form-control contactEmail" placeholder="{{email}}" maxlength="50">
                        <input id="contactPhone" type="text" class="form-control contactPhone" placeholder="{{phone}}">
                    </div>
                </div>
            </div>
            <button class="btn btn-info btn-block" type="submit"><strong>Update</strong></button>
        </form>
    </div>
</template>
